* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
    background-image: url('C:\Users\chandra\Pictures\Screenshot 2024-08-07 222619.jpg');
}

#main_div {
    background-image: url('C:\Users\chandra\Pictures\Screenshot 2024-08-07 222619.jpg');
}

button {
    padding: 15px;
    border: 2px dotted red;
    padding-left: 2vw;
    padding-right: 2vw;
    box-shadow: 5px 5px 8px #888888; 
}

button:hover {
    cursor: pointer;
    background-color:bisque;
}
button:active {
    background-color:yellow;
}

#div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#count {
    font-weight: 900;
    font-size: 20px;
    padding: 15px;
}

#reset {
    padding-left: 5vh;
    padding-right: 5vh;
}