body 
{
    display: flex;
    justify-content: center;
}

.main {
    top: 10%;
    height: auto;
    width: auto;
    background-color: blue;
    position: absolute;
    padding: 15%;
    padding-left: 5%;
    border-radius: 2%;
    padding-top: 8%;
}

button {
    background-color: white;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 28px;
    margin-top: 15px;
}

* {
    font-style: normal;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}